.details-page {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
    url("./../images/bg-results.jpg");
  background-size: cover;
  min-height: 100vh;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-page h2 {
  font-size: 40px;
  font-weight: 800;
}
#publish-year {
  font-size: 15px;
}

#publish-title {
  font-size: 30px;
  font-weight: 800;
}
#publish-author {
  font-size: 20px;
  color: #aeacac;
}
#description {
  width: 80%;
  margin: 20px 0;
  font-size: 15px;
}
.img-container img {
  height: 350px;
}
