.shelf-section {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)),
    url("./../images/bg-results.jpg");
  background-size: cover;
  height: auto;
  min-height: 100vh;
}

.card img {
  height: 70%;
  width: 70%;
  border-radius: 25px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.note-btn,
.impression-btn {
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 200px;
}
.note-btn,
.note-btn-add {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
}
.note-btn-add {
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  border: none;
}
.note-btn-add:hover {
  cursor: pointer;
  background-color: #c0c0c0;
}

.remove-btn {
  background-color: rgb(155, 2, 2);
  padding: 10px;
  border-radius: 50px 50px 50px 50px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 50px;
  margin: 0 auto;
}

.impression-btn:hover,
.remove-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.impression-btn:hover {
  background-color: #c0c0c0;
}
.remove-btn:hover {
  background-color: rgb(99, 0, 0);
}
h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.empty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.empty {
  color: white;
  text-align: center;
  font-size: 20px;
}
.go-home {
  text-align: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 25px;
}
.go-home:hover {
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.6);
  color: black;
}
.btn-alt {
  text-align: center;
  padding-bottom: 20px;
}
.button-container {
  position: relative;
  display: inline-block; /* Ensure the container only takes up the space it needs */
}

/* Specificity increased for .note-btn */

.additional-buttons {
  position: absolute;
  top: -40px; /* Adjust the distance from the main button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, top 0.3s ease; /* Smooth transition */
  white-space: nowrap; /* Prevent line breaks */
}

.button-container:hover .note-btn {
  opacity: 0;
}

.button-container:hover .additional-buttons {
  opacity: 1;
  top: 0; /* Show the additional buttons */
}

.additional-button {
  display: inline-block;
  margin-right: 5px; /* Adjust spacing between additional buttons */
}
/* AddImpressionButton component styles */
.impression-button {
  position: relative;
  display: inline-block;
}

.impression-btn,
.note-btn {
  display: block;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3);
}
.additional-buttons {
  position: absolute;
  top: 100%; /* Position it below the main button */
  left: 50%;
  transform: translate(-50%, 0); /* Initially translate it below */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition transform property */
}

.button-container:hover .additional-buttons {
  opacity: 1;
  transform: translate(-50%, -2px); /* Move it upward slightly */
}
.switch4-container h5 {
  margin-bottom: 0.7rem;
}
.switch4 {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.switch4 label {
  padding: 1rem;
  z-index: 1;
}
#active-label {
  position: absolute;
  left: 0;
  width: 34%;
  height: 100%;
  background: #14142a;
  border: 1px solid #fff;
  border-radius: 12px;
  opacity: 0.5;
  transition: 0.5s left ease;
}
#switch4-radio1:checked ~ #active-label {
  left: 0;
}
#switch4-radio2:checked ~ #active-label {
  left: 33%;
}
#switch4-radio3:checked ~ #active-label {
  left: 66%;
}
.container {
  max-width: 80%;
  margin: auto;
  height: 100dvh;
  display: grid;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding: 4rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  cursor: pointer;
}
label {
  cursor: pointer;
}
.trash {
  color: white;
}
.remove-btn {
  background-color: #131313;
}
.title-part {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: calc(
      50% - 50px
    ); /* Adjust the width to occupy half of the container */
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .card {
    width: calc(
      50% - 40px
    ); /* Adjust the width to occupy half of the container */
  }
}

@media all and (max-width: 480px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: calc(
      100% - 80px
    ); /* Adjust the width to occupy half of the container */
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}
