/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* ShelfButton.css */
.shelf-button {
  position: fixed;
  font-size: 15px;
  font-weight: 600;
  top: 40px; /* Adjust this value as needed */
  right: 40px; /* Adjust this value as needed */
  z-index: 999; /* Ensure it appears above other content */
  background-color: #ffffff; /* Optional: set background color */
  border: none; /* Optional: remove button border */
  border-radius: 25px; /* Optional: apply border radius */
  padding: 10px 20px; /* Optional: adjust padding */
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.3); /* Optional: add box shadow */
}

.shelf-button:hover {
  cursor: pointer;
  background-color: #c0c0c0; /* Optional: adjust hover background color */
}
.icon {
  margin-right: 8px;
}
.switch4-container h5 {
  margin-bottom: 0.7rem;
}
.switch4 {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.switch4 label {
  padding: 1rem;
  z-index: 1;
}
#active-label {
  position: absolute;
  left: 0;
  width: 34%;
  height: 100%;
  background: #14142a;
  border: 1px solid #fff;
  border-radius: 12px;
  opacity: 0.5;
  transition: 0.5s left ease;
}
#switch4-radio1:checked ~ #active-label {
  left: 0;
}
#switch4-radio2:checked ~ #active-label {
  left: 33%;
}
#switch4-radio3:checked ~ #active-label {
  left: 66%;
}
.container {
  max-width: 80%;
  margin: auto;
  height: 100dvh;
  display: grid;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding: 4rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  cursor: pointer;
}
label {
  cursor: pointer;
}
.trash {
  color: white;
}
.remove-btn {
  background-color: #131313;
}
